<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/index.css">
  <title>CSR</title>
</head>
<body>
  <div class="board">
    <h1 class="title">Welcome to CSR</h1>
    <a href="http://localhost:3000/customers" class="start-registration-btn">Start registration</a>
  </div>
</body>
</html>
